<!-- taking 60% of the screen row space -->
<div *ngIf="weather?.name">  
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img [src]="weather.image" alt="Weather Icon">
            </div>
            <mat-card-title>{{weather.name}},{{weather.country}}</mat-card-title>
            <mat-card-subtitle>
                {{weather.temprature | number: '1.0-0'}}℉ 
            </mat-card-subtitle>
        </mat-card-header>
        <agm-map [latitude]="weather.lat" [longitude]="weather.lon">
             <agm-marker [latitude]="weather.lat" [longitude]="weather.lon"></agm-marker>
        </agm-map>
        <mat-card-content class="description">
            <h3 class="subheading-2">
                Conditions: 
            </h3>
            <p>
                {{weather.description}}
            </p>
        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-raised-button color="primary"
            (click)="addCity(weather)">Save</button>
        </mat-card-actions>
    </mat-card>
</div>
